.b-btn {

    &--save {
        max-width: 120px;
        padding: 2px 5px;
        text-align: center;
    }
    &--save-town {
        position: absolute;
        bottom: -35px;
        left: 0;
        cursor: pointer;
    }
    &--save-empire {
        border: 2px solid $c-empire-bg;

        &:hover,
        &:active {
            background-color: $c-empire-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-undead {
        border: 2px solid $c-undead-bg;

        &:hover,
        &:active {
            background-color: $c-undead-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-elves {
        border: 2px solid $c-elves-bg;

        &:hover,
        &:active {
            background-color: $c-elves-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-clans {
        border: 2px solid $c-clans-bg;

        &:hover,
        &:active {
            background-color: $c-clans-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-legions {
        border: 2px solid $c-legions-bg;

        &:hover,
        &:active {
            background-color: $c-legions-bg;
            color: $c-btn-text-hover;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.b-build-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 520px;
}

.b-build {
  margin-right: 5px;
  margin-bottom: 3px;
  cursor: pointer;

  &:hover span {
    transition-duration: $t-transition-duration;
  }

  &--empire {
    &:hover span {
      background-color: $c-empire-bg;
      color: $c-btn-text-hover;
    }
  }

  &--undead {
    &:hover span {
      background-color: $c-undead-bg;
      color: $c-btn-text-hover;
    }
  }

  &--elves {
    &:hover span {
      background-color: $c-elves-bg;
      color: $c-btn-text-hover;
    }
  }

  &--clans {
    &:hover span {
      background-color: $c-clans-bg;
      color: $c-btn-text-hover;
    }
  }

  &--legions {
    &:hover span {
      background-color: $c-legions-bg;
      color: $c-btn-text-hover;
    }
  }

  &--clans.is-active span {
    background: $c-clans-bg;
    color: $c-clans-text;
  }

  &--empire.is-active span {
    background: $c-empire-bg;
    color: $c-empire-text;
  }

  &--undead.is-active span {
    background: $c-undead-bg;
    color: $c-undead-text;
  }

  &--legions.is-active span {
    background: $c-legions-bg;
    color: $c-legions-text;
  }
}

.b-build span {
  padding: 0 5px;
  border: 1px solid #000;
  user-select: none;
}

.b-build__or {
  margin-right: 5px;
}

.b-build__section {
  margin-bottom: 5px;
}

.b-build__section-title {
  display: block;
  font-weight: 700;
}

.b-clans {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;
  }

  &__brewery {
    z-index: 1;
  }

  &__town {
    z-index: 0;
  }
}

.b-clans img.b-clans__town, .b-clans img.b-clans__walls {
  display: block;
}

.b-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
}

.row {
  display: flex;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.b-elves {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;
}

.b-elves img {
  display: none;
  position: absolute;
  top: 0;
  width: 640px;
  height: 600px;
}

.b-elves img.b-elves__town {
  display: block;
}

.b-empire {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;
  }

  &__town {
    z-index: 0;
  }
}

.b-empire img.b-empire__town, .b-empire img.b-empire__walls {
  display: block;
}


.b-legions {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;
  }

  &__town {
    z-index: 0;
  }
}

.b-legions img.b-legions__town {
  display: block;
}

.b-main-menu {
  position: relative;
  width: 800px;
  height: 600px;
  background: url("../img/main-menu.jpg");
}

.b-main-menu__item {
  height: 52px;
  margin-bottom: 7px;
}

.b-main-menu__link {
  display: inline-block;
  width: 100%;
  height: 52px;
  line-height: 50px;
  text-decoration: none;
  background: url("../img/main-menu-btn.png");
  color: #000;
}

.b-main-menu__link:hover {
  background: url("../img/main-menu-btn-hover.png");
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
}

.b-main-menu__link:active {
  background: url("../img/main-menu-btn-active.png");
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
}

.b-main-menu__list {
  position: absolute;
  top: 10px;
  right: 17px;
  width: 306px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.b-tab {
  padding: 20px;
  display: none;
}

.b-tab.active {
  display: block;
}

.b-nav-tab {
  display: inline-block;
  padding: 20px;
}

.b-nav-tab.active {
  color: #ff4200;
}

.b-undead {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;
  }

  &__dragon-cemetery {
    z-index: 2;
  }
  &__evil-monastery {
    z-index: 1;
  }
  &__graveyard {
    z-index: 1;
  }
  &__town {
    z-index: 0;
  }
}

.b-undead img.b-undead__town, .b-undead img.b-undead__walls {
  display: block;
}

.b-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only all and (max-width: 767px) {
  .b-wrapper--town {
    flex-direction: column;
    width: 100%;
  }
}
