.btn {

    &--save {
        max-width: 120px;
        padding: 2px 5px;
        margin-top: 10px;
        text-align: center;
    }
    &--save-town {
        position: absolute;
        bottom: -35px;
        left: 0;
        cursor: pointer;
    }
    &--save-empire {
        border: 2px solid $c-empire-bg;

        &:hover,
        &:active {
            background-color: $c-empire-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-undead {
        border: 2px solid $c-undead-bg;

        &:hover,
        &:active {
            background-color: $c-undead-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-elves {
        border: 2px solid $c-elves-bg;

        &:hover,
        &:active {
            background-color: $c-elves-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-clans {
        border: 2px solid $c-clans-bg;

        &:hover,
        &:active {
            background-color: $c-clans-bg;
            color: $c-btn-text-hover;
        }
    }
    &--save-legions {
        border: 2px solid $c-legions-bg;

        &:hover,
        &:active {
            background-color: $c-legions-bg;
            color: $c-btn-text-hover;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.build-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 550px;
  // width: 100%;

  @media #{$tablet} {
    margin-bottom: 30px;
  }

  @media #{$mobile} {
    font-size: 15px;
  }
}

.build {
  display: table;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover span {
    transition-duration: $t-transition-duration;
  }

  span {
    padding: 2px 5px;
    border: 1px solid #000;
    user-select: none;
  }

  &--empire {
    &:hover span {
      background-color: $c-empire-bg;
      color: $c-btn-text-hover;
    }
  }

  &--undead {
    &:hover span {
      background-color: $c-undead-bg;
      color: $c-btn-text-hover;
    }
  }

  &--elves {
    &:hover span {
      background-color: $c-elves-bg;
      color: $c-btn-text-hover;
    }
  }

  &--clans {
    &:hover span {
      background-color: $c-clans-bg;
      color: $c-btn-text-hover;
    }
  }

  &--legions {
    &:hover span {
      background-color: $c-legions-bg;
      color: $c-btn-text-hover;
    }
  }

  &--clans.is-active span {
    background: $c-clans-bg;
    color: $c-clans-text;
  }

  &--empire.is-active span {
    background: $c-empire-bg;
    color: $c-empire-text;
  }

  &--undead.is-active span {
    background: $c-undead-bg;
    color: $c-undead-text;
  }

  &--legions.is-active span {
    background: $c-legions-bg;
    color: $c-legions-text;
  }

  &__or {
    font-weight: 700;
    margin-right: 5px;
  }

  &__section {
    margin-bottom: 5px;
  }

  &__section-title {
    display: block;
    font-weight: 700;
  }
}

.clans {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }
    
    &.clans__town, 
    &.clans__walls {
      display: block;
    }
  }

  &__brewery {
    z-index: 1;
  }

  &__town {
    z-index: 0;
  }
}

.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100%;
}

.row {
  display: flex;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.elves {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }
    
    &.elves__town {
      display: block;
    }
  }
}

.empire {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }

    &.empire__town, 
    &.empire__walls {
      display: block;
    }
  }

  &__town {
    z-index: 0;
  }
}

.legions {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }
    
    &.legions__town {
      display: block;
    }
  }

  &__town {
    z-index: 0;
  }
}


.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;

  &__in {
    position: relative;
    width: 800px;
    height: 600px;
    background: url("../img/main-menu.jpg");
  }

  &__item {
    height: 52px;
    margin-bottom: 7px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 52px;
    line-height: 50px;
    text-decoration: none;
    background: url("../img/main-menu-btn.png");
    color: #000;

    &:hover {
      background: url("../img/main-menu-btn-hover.png");
      background-repeat: no-repeat;
      text-decoration: none;
      color: #000;
    }

    &:active {
      background: url("../img/main-menu-btn-active.png");
      background-repeat: no-repeat;
      text-decoration: none;
      color: #000;
    }
  }

  &__list {
    position: absolute;
    top: 10px;
    right: 17px;
    width: 306px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.tab {
  display: none;
  padding: 20px;
  border: 1px solid #000;

  @media #{$mobile} {
    padding: 10px;
  }

  &.is-active {
    display: block;
  }
}

.tab-content {

  @media #{$mobile} {
    width: 100%;
  }
}


.nav-tab {
  display: inline-block;
  padding: 20px;

  &.is-active {
    color: #ff4200;
  }
}

.undead {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }
    
    &.undead__town, 
    &.undead__walls {
      display: block;
    }
  }

  &__dragon-cemetery {
    z-index: 2;
  }
  &__evil-monastery {
    z-index: 1;
  }
  &__graveyard {
    z-index: 1;
  }
  &__town {
    z-index: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only all and (max-width: 767px) {
  .wrapper--town {
    flex-direction: column;
    width: 100%;
  }
}
