// Mobile First media queries
$tablet: "only all and (min-width: 768px)";
$desktop: "only all and (min-width: 1024px)";


// Dimensions
$g-font-size: 16px;
$g-line-height: 1.5;

// Colors
$g-color-primary: ;
$g-color-secondary: ;
$g-color-text: ;

// Header
$c-header-bg: ;

// Footer
$c-footer-bg: ;

// Nav
$c-nav-link: ;

// from LoVe to HAte
$c-link: ;
$c-link-visited: ;
$c-link-hover: ;
$c-link-active: ;
