// Mobile First media queries
$tablet: "only all and (min-width: 768px)";
$desktop: "only all and (min-width: 1024px)";


// Dimensions
$g-font-size: 16px;
$g-line-height: 1.5;

// Buttons
$c-btn-text-hover: #fff;

// Colors
$g-color-primary: ;
$g-color-secondary: ;
$g-color-text: ;

$c-empire-bg: #000073;
$c-empire-text: #fff;
$c-undead-bg: #293010;
$c-undead-text: #fff;
$c-elves-bg: #7B8948;
$c-elves-text: #fff;
$c-clans-bg: #C6C7D6;
$c-clans-text: #fff;
$c-legions-bg: #6B0C08;
$c-legions-text: #fff;


// Header
$c-header-bg: ;

// Footer
$c-footer-bg: ;

// Nav
$c-nav-link: ;

// from LoVe to HAte
$c-link: ;
$c-link-visited: ;
$c-link-hover: ;
$c-link-active: ;

// Animations
$t-transition-duration: 0.1s;
