section
  .container
    .build-container.build-container--clans
      .build__section
        span.build__section-title Other Buildings
        .row
          .build.build--clans(data-toggle="clans__guild")
            span Guild
          .build.build--clans(data-toggle="clans__magic-tower")
            span Magic Tower
          .build.build--clans(data-toggle="clans__temple")
            span Temple

      .build__section
        span.build__section-title Fighter Units
        .build.build--clans(data-toggle="clans__brewery")
          span Brewery
        .build.build--clans(data-toggle="clans__armory")
          span Armory
        .col
          .build.build--clans(data-toggle="clans__ancestor-shrine")
            span Ancestor Shrine
          .row
            .build.build--clans(data-toggle="clans__kings-hall")
              span King's Hall
            span.build__or OR
            .build.build--clans(data-toggle="clans__rune-hall")
              span Rune Hall
        span.build__or OR
        .col
          .build.build--clans(data-toggle="clans__outpost")
            span Outpost
          .col
            .build.build--clans(data-toggle="clans__snow-den")
              span Snow Den
          span.build__or OR
          .col
            .build.build--clans(data-toggle="clans__fenrirs-hall")
              span Fenrir's Hall

      .build__section
        span.build__section-title Mage Units
        .build.build--clans(data-toggle="clans__cottage")
          span Cottage
        .col
          .build.build--clans(data-toggle="clans__wisdom-garden")
            span Wisdom Garden
          .build.build--clans(data-toggle="clans__elder-tree")
            span Elder Tree
        span.build__or OR
        .col
          .build.build--clans(data-toggle="clans__alchemy-tower")
            span Alchemy Tower
        .build.build--clans(data-toggle="clans__mountain-lair")
          span Mountain Lair

      .build__section
        span.build__section-title Ranged Attack Units
        .build.build--clans(data-toggle="clans__shooting-range")
          span Shooting Range
        .row
          .build.build--clans(data-toggle="clans__eternal-forge")
            span Eternal Forge
          span.build__or OR
          .build.build--clans(data-toggle="clans__engineers-guild")
            span Engineer's Guild

      .build__section
        span.build__section-title Support Units
        .build.build--clans(data-toggle="clans__mountain-peak")
          span Mountain Peak
        .col
          .build.build--clans(data-toggle="clans__cloud-keep")
            span Cloud Keep
          .build.build--clans(data-toggle="clans__bifrost-bridge")
            span Bifrost Bridge
        span.build__or OR
        .col
          .build.build--clans(data-toggle="clans__ice-mountains")
            span Ice Mountains
          .build.build--clans(data-toggle="clans__ice-caves")
            span Ice Caves

      .build__section
        span.build__section-title Background
        .row
          .build.build--clans(data-toggle="clans__windmill")
            span Windmill
      .btn.btn--save.btn--save-clans Save Picture

    .town.clans
      img.lazyload.clans__town(src="#" data-src="images/mountain-clans/clans-town.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__mountain-peak(src="#" data-src="images/mountain-clans/clans-mountain-peak.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__alchemy-tower(src="#" data-src="images/mountain-clans/clans-alchemy-tower.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__ancestor-shrine(src="#" data-src="images/mountain-clans/clans-ancestor-shrine.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__armory(src="#" data-src="images/mountain-clans/clans-armory.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__brewery(src="#" data-src="images/mountain-clans/clans-brewery.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__cloud-keep(src="#" data-src="images/mountain-clans/clans-cloud-keep.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__bifrost-bridge(src="#" data-src="images/mountain-clans/clans-bifrost-bridge.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__cottage(src="#" data-src="images/mountain-clans/clans-cottage.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__engineers-guild(src="#" data-src="images/mountain-clans/clans-engineers-guild.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__eternal-forge(src="#" data-src="images/mountain-clans/clans-eternal-forge.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__fenrirs-hall(src="#" data-src="images/mountain-clans/clans-fenrirs-hall.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__guild(src="#" data-src="images/mountain-clans/clans-guild.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__ice-caves(src="#" data-src="images/mountain-clans/clans-ice-caves.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__ice-mountains(src="#" data-src="images/mountain-clans/clans-ice-mountains.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__elder-tree(src="#" data-src="images/mountain-clans/clans-elder-tree.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__kings-hall(src="#" data-src="images/mountain-clans/clans-kings-hall.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__magic-tower(src="#" data-src="images/mountain-clans/clans-magic-tower.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__mountain-lair(src="#" data-src="images/mountain-clans/clans-mountain-lair.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__outpost(src="#" data-src="images/mountain-clans/clans-outpost.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__rune-hall(src="#" data-src="images/mountain-clans/clans-rune-hall.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__shooting-range(src="#" data-src="images/mountain-clans/clans-shooting-range.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__snow-den(src="#" data-src="images/mountain-clans/clans-snow-den.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__wisdom-garden(src="#" data-src="images/mountain-clans/clans-wisdom-garden.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__temple(src="#" data-src="images/mountain-clans/clans-temple.png" width="640" height="600" alt="" title="")
      img.lazyload.clans__windmill(src="#" data-src="images/mountain-clans/clans-windmill.gif" width="640" height="600" alt="" title="")