section
  .container
    .build-container.build-container--empire
      .build__section
        span.build__section-title Other Buildings
        .row
          .build.build--empire(data-toggle="empire__guild")
            span Guild
          .build.build--empire(data-toggle="empire__magic-tower")
            span Magic Tower
          .build.build--empire(data-toggle="empire__temple")
            span Temple
      .build__section
        span.build__section-title Fighter Units
        .col
          span.build__section-subtitle Knights
          .build.build--empire(data-toggle="empire__stable")
            span Stable
          .build.build--empire(data-toggle="empire__imperial-stable")
            span Imperial Stable
          .row
            .build.build--empire(data-toggle="empire__shrine")
              span Shrine
            span.build__or OR
            .build.build--empire(data-toggle="empire__fountain-of-life")
              span Fountain of Life
          .row
            .build.build--empire(data-toggle="empire__holy-statue")
              span Holy Statue
            span.build__or OR
            .build.build--empire(data-toggle="empire__chapel")
              span Chapel
        .col
          span.build__section-subtitle Inquisitors
          .build.build--empire(data-toggle="empire__dungeon")
            span Dungeon
          .build.build--empire(data-toggle="empire__torture-chamber")
            span  Torture Chamber
          .build.build--empire(data-toggle="empire__magistrate")
            span Magistrate
      .build__section
        span.build__section-title Mage Units
        .build.build--empire(data-toggle="empire__library")
          span Library
        .row
          .build.build--empire(data-toggle="empire__tower")
            span Tower
          span.build__or OR
          .build.build--empire(data-toggle="empire__elemental-circle")
            span Elemental Circle

        .build.build--empire(data-toggle="empire__arcane-tower")
          span Arcane Tower
        .build.build--empire(data-toggle="empire__ruined-temple")
          span Ruined Temple
      .build__section
        span.build__section-title Ranged Attack Units
        .build.build--empire(data-toggle="empire__archery-range")
          span Archery Range
        .build.build--empire(data-toggle="empire__imperial-guild")
          span Imperial Guild
      .build__section
        span.build__section-title Support Units
        .col
          .build.build--empire(data-toggle="empire__monastery")
            span Monastery
          .build.build--empire(data-toggle="empire__sanctuary")
            span Sanctuary
          .build.build--empire(data-toggle="empire__worship-house")
            span Worship House
        span.build__or OR
        .col
          .build.build--empire(data-toggle="empire__church")
            span Church
          .build.build--empire(data-toggle="empire__cathedral")
            span Cathedral
          .build.build--empire(data-toggle="empire__basilica")
            span Basilica
      .build__section
        span.build__section-title Background
        .row
          .build.build--empire(data-toggle="empire__flag-left")
            span Left Flag
          .build.build--empire(data-toggle="empire__flag-right")
            span Right Flag
      .btn.btn--save.btn--save-empire Save Picture

    .town.empire
      img.lazyload.empire__town(src="#" data-src="images/empire/empire-town.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__monastery(src="#" data-src="images/empire/empire-monastery.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__sanctuary(src="#" data-src="images/empire/empire-sanctuary.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__worship-house(src="#" data-src="images/empire/empire-worship-house.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__church(src="#" data-src="images/empire/empire-church.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__cathedral(src="#" data-src="images/empire/empire-cathedral.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__basilica(src="#" data-src="images/empire/empire-basilica.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__magic-tower(src="#" data-src="images/empire/empire-magic-tower.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__guild(src="#" data-src="images/empire/empire-guild.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__chapel(src="#" data-src="images/empire/empire-chapel.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__library(src="#" data-src="images/empire/empire-library.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__elemental-circle(src="#" data-src="images/empire/empire-elemental-circle.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__tower(src="#" data-src="images/empire/empire-tower.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__ruined-temple(src="#" data-src="images/empire/empire-ruined-temple.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__arcane-tower(src="#" data-src="images/empire/empire-arcane-tower.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__walls(src="#" data-src="images/empire/empire-walls.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__imperial-guild(src="#" data-src="images/empire/empire-imperial-guild.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__archery-range(src="#" data-src="images/empire/empire-archery-range.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__temple(src="#" data-src="images/empire/empire-temple.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__holy-statue(src="#" data-src="images/empire/empire-holy-statue.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__shrine(src="#" data-src="images/empire/empire-shrine.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__fountain-of-life(src="#" data-src="images/empire/empire-fountain-of-life.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__stable(src="#" data-src="images/empire/empire-stable.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__imperial-stable(src="#" data-src="images/empire/empire-imperial-stable.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__magistrate(src="#" data-src="images/empire/empire-magistrate.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__torture-chamber(src="#" data-src="images/empire/empire-torture-chamber.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__dungeon(src="#" data-src="images/empire/empire-dungeon.png" width="640" height="600" alt="" title="")
      img.lazyload.empire__flag-left(src="#" data-src="images/empire/empire-flag-left.gif" width="640" height="600" alt="" title="")
      img.lazyload.empire__flag-right(src="#" data-src="images/empire/empire-flag-right.gif" width="640" height="600" alt="" title="")
