section
  .container
    .build-container.build-container--legions
      .build__section
        span.build__section-title Other Buildings
        .row
          .build.build--legions(data-toggle="legions__guild")
            span Guild
          .build.build--legions(data-toggle="legions__magic-tower")
            span Magic Tower
          .build.build--legions(data-toggle="legions__temple")
            span Temple

      .build__section
        span.build__section-title Fighter Units
        .row
          .build.build--legions(data-toggle="legions__unholy-portal")
            span Unholy Portal
          .build.build--legions(data-toggle="legions__temple-of-grief")
            span Temple of Grief
        .build.build--legions(data-toggle="legions__tower-of-souls")
          span Tower of Souls
        .build.build--legions(data-toggle="legions__bethrezens-idol")
          span Bethrezen's idol

      .build__section
        span.build__section-title Mage Units
        .col
          .build.build--legions(data-toggle="legions__occult-abbey")
            span Occult Abbey
          .row
            .build.build--legions(data-toggle="legions__soul-keep")
              span Soul Keep
            span.build__or OR
            .build.build--legions(data-toggle="legions__dark-sanctuary")
              span Dark Sanctuary
          .row
            .build.build--legions(data-toggle="legions__hall-of-deceit")
              span Hall of Deceit
            span.build__or OR
            .col
              .build.build--legions(data-toggle="legions__altar")
                span Altar
              .build.build--legions(data-toggle="legions__worship-shrine")
                span Worship Shrine
        .col
          .build.build--legions(data-toggle="legions__palace-of-vice")
            span Palace of Vice
          .build.build--legions(data-toggle="legions__palace-of-sin")
            span Palace of Sin
          .build.build--legions(data-toggle="legions__high-temple")
            span High Temple

      .build__section
        span.build__section-title Ranged Attack Units
        .build.build--legions(data-toggle="legions__spire")
          span Spire
        .build.build--legions(data-toggle="legions__onyx-spire")
          span Onyx Spire

      .build__section
        span.build__section-title Support Units
        .build.build--legions(data-toggle="legions__unholy-gate")
          span Unholy Gate
        .build.build--legions(data-toggle="legions__torment-chapel")
          span Torment-Chapel
        .col
          .build.build--legions(data-toggle="legions__unholy-altar")
            span Unholy Altar
          .build.build--legions(data-toggle="legions__slave-dungeon")
            span Slave Dungeon
        span.build__or OR
        .col
          .build.build--legions(data-toggle="legions__hellish-portal")
            span Hellish Portal
          .row
            .build.build--legions(data-toggle="legions__unholy-halls")
              span Unholy Halls
            span.build__or OR
            .build.build--legions(data-toggle="legions__unholy-mansion")
              span Unholy Mansion

      .build__section
        span.build__section-title Background
        .row
          .build.build--legions(data-toggle="legions__light")
            span Light
      .btn.btn--save.btn--save-legions Save Picture

    .town.legions
      img.lazyload.legions__town(src="#" data-src="images/legions-of-the-damned/legions-town.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__guild(src="#" data-src="images/legions-of-the-damned/legions-guild.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__magic-tower(src="#" data-src="images/legions-of-the-damned/legions-magic-tower.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__temple(src="#" data-src="images/legions-of-the-damned/legions-temple.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__altar(src="#" data-src="images/legions-of-the-damned/legions-altar.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__bethrezens-idol(src="#" data-src="images/legions-of-the-damned/legions-bethrezens-idol.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__dark-sanctuary(src="#" data-src="images/legions-of-the-damned/legions-dark-sanctuary.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__hall-of-deceit(src="#" data-src="images/legions-of-the-damned/legions-hall-of-deceit.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__hellish-portal(src="#" data-src="images/legions-of-the-damned/legions-hellish-portal.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__high-temple(src="#" data-src="images/legions-of-the-damned/legions-high-temple.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__occult-abbey(src="#" data-src="images/legions-of-the-damned/legions-occult-abbey.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__onyx-spire(src="#" data-src="images/legions-of-the-damned/legions-onyx-spire.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__palace-of-sin(src="#" data-src="images/legions-of-the-damned/legions-palace-of-sin.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__palace-of-vice(src="#" data-src="images/legions-of-the-damned/legions-palace-of-vice.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__slave-dungeon(src="#" data-src="images/legions-of-the-damned/legions-slave-dungeon.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__soul-keep(src="#" data-src="images/legions-of-the-damned/legions-soul-keep.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__spire(src="#" data-src="images/legions-of-the-damned/legions-spire.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__temple-of-grief(src="#" data-src="images/legions-of-the-damned/legions-temple-of-grief.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__torment-chapel(src="#" data-src="images/legions-of-the-damned/legions-torment-chapel.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__tower-of-souls(src="#" data-src="images/legions-of-the-damned/legions-tower-of-souls.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__unholy-altar(src="#" data-src="images/legions-of-the-damned/legions-unholy-altar.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__unholy-gate(src="#" data-src="images/legions-of-the-damned/legions-unholy-gate.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__unholy-mansion(src="#" data-src="images/legions-of-the-damned/legions-unholy-mansion.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__unholy-halls(src="#" data-src="images/legions-of-the-damned/legions-unholy-halls.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__unholy-portal(src="#" data-src="images/legions-of-the-damned/legions-unholy-portal.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__worship-shrine(src="#" data-src="images/legions-of-the-damned/legions-worship-shrine.png" width="640" height="600" alt="" title="")
      img.lazyload.legions__light(src="#" data-src="images/legions-of-the-damned/legions-light.gif" width="640" height="600" alt="" title="")