section
  .container
    .build-container.build-container--undead
      .build__section
        span.build__section-title Other Buildings
        .row
          .build.build--undead(data-toggle="undead__guild")
            span Guild
          .build.build--undead(data-toggle="undead__magic-tower")
            span Magic Tower
          .build.build--undead(data-toggle="undead__temple")
            span Temple

      .build__section
        span.build__section-title Fighter Units
        .col
          span.build__section-subtitle Left
          .build.build--undead(data-toggle="undead__unholy-ground")
            span Unholy Ground
          .build.build--undead(data-toggle="undead__graveyard")
            span Graveyard
          .build.build--undead(data-toggle="undead__vault-of-souls")
            span Vault of Souls
          .build.build--undead(data-toggle="undead__crematorium")
            span Crematorium
        .col
          span.build__section-subtitle Right
          .build.build--undead(data-toggle="undead__evil-monastery")
            span Evil Monastery
          .build.build--undead(data-toggle="undead__dark-idol")
            span Dark Idol

      .build__section
        span.build__section-title Mage Units
        .build.build--undead(data-toggle="undead__dark-temple")
          span Dark Temple
        .col
          .build.build--undead(data-toggle="undead__occult-temple")
            span Occult Temple
          .col
            .build.build--undead(data-toggle="undead__crypt")
              span Crypt
            .build.build--undead(data-toggle="undead__stronghold")
              span Stronghold
          span.build__or OR
          .col
            .build.build--undead(data-toggle="undead__dark-tower")
              span Dark Tower
            .build.build--undead(data-toggle="undead__sorcery-tower")
              span Sorcery Tower
        span.build__or OR
        .col
          .build.build--undead(data-toggle="undead__cursed-chapel")
            span Cursed Chapel
          .row
            .build.build--undead(data-toggle="undead__soul-pit")
              span Soul Pit
            span.build__or OR
            .build.build--undead(data-toggle="undead__abode-of-mortis")
              span Abode of Mortis

      .build__section
        span.build__section-title Ranged Attack Units
        .build.build--undead(data-toggle="undead__sepulchre")
          span Sepulchre
        .build.build--undead(data-toggle="undead__catacomb")
          span Catacomb
      .build__section
        span.build__section-title Support Units
        .col
          .build.build--undead(data-toggle="undead__cavern")
            span Cavern
          .build.build--undead(data-toggle="undead__boneyard")
            span Boneyard
          .row
            .build.build--undead(data-toggle="undead__dragon-cemetery")
              span Dragon Cemetery
            span.build__or OR
            .build.build--undead(data-toggle="undead__cursed-cemetery")
              span Cursed Cemetery
          .build.build--undead(data-toggle="undead__werewolfs-den")
            span Werewolf's Den
      .build__section
        span.build__section-title Background
        .row
          .build.build--undead(data-toggle="undead__bat")
            span Bat
      .btn.btn--save.btn--save-undead Save Picture

    .town.undead
      img.lazyload.undead__town(src="#" data-src="images/undead-hordes/undead-town.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__guild(src="#" data-src="images/undead-hordes/undead-guild.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__magic-tower(src="#" data-src="images/undead-hordes/undead-magic-tower.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__temple(src="#" data-src="images/undead-hordes/undead-temple.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__abode-of-mortis(src="#" data-src="images/undead-hordes/undead-abode-of-mortis.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__boneyard(src="#" data-src="images/undead-hordes/undead-boneyard.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__catacomb(src="#" data-src="images/undead-hordes/undead-catacomb.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__crematorium(src="#" data-src="images/undead-hordes/undead-crematorium.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__crypt(src="#" data-src="images/undead-hordes/undead-crypt.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__cursed-cemetery(src="#" data-src="images/undead-hordes/undead-cursed-cemetery.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__cursed-chapel(src="#" data-src="images/undead-hordes/undead-cursed-chapel.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__dark-idol(src="#" data-src="images/undead-hordes/undead-dark-idol.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__dark-temple(src="#" data-src="images/undead-hordes/undead-dark-temple.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__dark-tower(src="#" data-src="images/undead-hordes/undead-dark-tower.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__dragon-cemetery(src="#" data-src="images/undead-hordes/undead-dragon-cemetery.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__evil-monastery(src="#" data-src="images/undead-hordes/undead-evil-monastery.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__graveyard(src="#" data-src="images/undead-hordes/undead-graveyard.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__occult-temple(src="#" data-src="images/undead-hordes/undead-occult-temple.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__sepulchre(src="#" data-src="images/undead-hordes/undead-sepulchre.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__cavern(src="#" data-src="images/undead-hordes/undead-cavern.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__sorcery-tower(src="#" data-src="images/undead-hordes/undead-sorcery-tower.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__soul-pit(src="#" data-src="images/undead-hordes/undead-soul-pit.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__stronghold(src="#" data-src="images/undead-hordes/undead-stronghold.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__unholy-ground(src="#" data-src="images/undead-hordes/undead-unholy-ground.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__vault-of-souls(src="#" data-src="images/undead-hordes/undead-vault-of-souls.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__werewolfs-den(src="#" data-src="images/undead-hordes/undead-werewolfs-den.png" width="640" height="600" alt=" title=")
      img.lazyload.undead__bat(src="#" data-src="images/undead-hordes/undead-bat.gif" width="640" height="600" alt=" title=")