mixin clans-town
    .b-build-container.b-build-container--clans
        .b-build__section
            span.b-build__section-title Other Buildings
            .row
                .b-build.b-clans__guild.b-build--clans
                    span Guild
                .b-build.b-clans__magic-tower.b-build--clans
                    span Magic Tower
                .b-build.b-clans__temple.b-build--clans
                    span Temple

        .b-build__section
            span.b-build__section-title Fighter Units
            .b-build.b-clans__brewery.b-build--clans
                span Brewery
            .b-build.b-clans__armory.b-build--clans
                span Armory
            .col
                .b-build.b-clans__ancestor-shrine.b-build--clans
                    span Ancestor Shrine
                .row
                    .b-build.b-clans__kings-hall.b-build--clans
                        span King's Hall
                    span.b-build__or OR
                    .b-build.b-clans__rune-hall.b-build--clans
                        span Rune Hall
            span.b-build__or OR
            .col
                .b-build.b-clans__outpost.b-build--clans
                    span Outpost
                .col
                    .b-build.b-clans__snow-den.b-build--clans
                        span Snow Den
                span.b-build__or OR
                .col
                    .b-build.b-clans__fenrirs-hall.b-build--clans
                        span Fenrir's Hall

        .b-build__section
            span.b-build__section-title Mage Units
            .b-build.b-clans__cottage.b-build--clans
                span Cottage
            .col
                .b-build.b-clans__wisdom-garden.b-build--clans
                    span Wisdom Garden
                .b-build.b-clans__elder-tree.b-build--clans
                    span Elder Tree
            span.b-build__or OR
            .col
                .b-build.b-clans__alchemy-tower.b-build--clans
                    span Alchemy Tower
            .b-build.b-clans__mountain-lair.b-build--clans
                span Mountain Lair

        .b-build__section
            span.b-build__section-title Ranged Attack Units
            .b-build.b-clans__shooting-range.b-build--clans
                span Shooting Range
            .row
                .b-build.b-clans__eternal-forge.b-build--clans
                    span Eternal Forge
                span.b-build__or OR
                .b-build.b-clans__engineers-guild.b-build--clans
                    span Engineer's Guild

        .b-build__section
            span.b-build__section-title Support Units
            .b-build.b-clans__mountain-peak.b-build--clans
                span Mountain Peak
            .col
                .b-build.b-clans__cloud-keep.b-build--clans
                    span Cloud Keep
                .b-build.b-clans__bifrost-bridge.b-build--clans
                    span Bifrost Bridge
            span.b-build__or OR
            .col
                .b-build.b-clans__ice-mountains.b-build--clans
                    span Ice Mountains
                .b-build.b-clans__ice-caves.b-build--clans
                    span Ice Caves

        .b-btn.b-btn--save-clans Save Picture

    .b-clans
        img.b-clans__town(src='img/mountain-clans/clans-town.png', alt='', title='')
        img.b-clans__mountain-peak(src='img/mountain-clans/clans-mountain-peak.png', alt='', title='')
        img.b-clans__alchemy-tower(src='img/mountain-clans/clans-alchemy-tower.png', alt='', title='')
        img.b-clans__ancestor-shrine(src='img/mountain-clans/clans-ancestor-shrine.png', alt='', title='')
        img.b-clans__armory(src='img/mountain-clans/clans-armory.png', alt='', title='')
        img.b-clans__brewery(src='img/mountain-clans/clans-brewery.png', alt='', title='')
        img.b-clans__cloud-keep(src='img/mountain-clans/clans-cloud-keep.png', alt='', title='')
        img.b-clans__bifrost-bridge(src='img/mountain-clans/clans-bifrost-bridge.png', alt='', title='')
        img.b-clans__cottage(src='img/mountain-clans/clans-cottage.png', alt='', title='')
        img.b-clans__engineers-guild(src='img/mountain-clans/clans-engineers-guild.png', alt='', title='')
        img.b-clans__eternal-forge(src='img/mountain-clans/clans-eternal-forge.png', alt='', title='')
        img.b-clans__fenrirs-hall(src='img/mountain-clans/clans-fenrirs-hall.png', alt='', title='')
        img.b-clans__guild(src='img/mountain-clans/clans-guild.png', alt='', title='')
        img.b-clans__ice-caves(src='img/mountain-clans/clans-ice-caves.png', alt='', title='')
        img.b-clans__ice-mountains(src='img/mountain-clans/clans-ice-mountains.png', alt='', title='')
        img.b-clans__elder-tree(src='img/mountain-clans/clans-elder-tree.png', alt='', title='')
        img.b-clans__kings-hall(src='img/mountain-clans/clans-kings-hall.png', alt='', title='')
        img.b-clans__magic-tower(src='img/mountain-clans/clans-magic-tower.png', alt='', title='')
        img.b-clans__mountain-lair(src='img/mountain-clans/clans-mountain-lair.png', alt='', title='')
        img.b-clans__outpost(src='img/mountain-clans/clans-outpost.png', alt='', title='')
        img.b-clans__rune-hall(src='img/mountain-clans/clans-rune-hall.png', alt='', title='')
        img.b-clans__shooting-range(src='img/mountain-clans/clans-shooting-range.png', alt='', title='')
        img.b-clans__snow-den(src='img/mountain-clans/clans-snow-den.png', alt='', title='')
        img.b-clans__wisdom-garden(src='img/mountain-clans/clans-wisdom-garden.png', alt='', title='')
        img.b-clans__temple(src='img/mountain-clans/clans-temple.png', alt='', title='')
