mixin clans-town
    .build-container.build-container--clans
        .build__section
            span.build__section-title Other Buildings
            .row
                .build.clans__guild.build--clans
                    span Guild
                .build.clans__magic-tower.build--clans
                    span Magic Tower
                .build.clans__temple.build--clans
                    span Temple

        .build__section
            span.build__section-title Fighter Units
            .build.clans__brewery.build--clans
                span Brewery
            .build.clans__armory.build--clans
                span Armory
            .col
                .build.clans__ancestor-shrine.build--clans
                    span Ancestor Shrine
                .row
                    .build.clans__kings-hall.build--clans
                        span King's Hall
                    span.build__or OR
                    .build.clans__rune-hall.build--clans
                        span Rune Hall
            span.build__or OR
            .col
                .build.clans__outpost.build--clans
                    span Outpost
                .col
                    .build.clans__snow-den.build--clans
                        span Snow Den
                span.build__or OR
                .col
                    .build.clans__fenrirs-hall.build--clans
                        span Fenrir's Hall

        .build__section
            span.build__section-title Mage Units
            .build.clans__cottage.build--clans
                span Cottage
            .col
                .build.clans__wisdom-garden.build--clans
                    span Wisdom Garden
                .build.clans__elder-tree.build--clans
                    span Elder Tree
            span.build__or OR
            .col
                .build.clans__alchemy-tower.build--clans
                    span Alchemy Tower
            .build.clans__mountain-lair.build--clans
                span Mountain Lair

        .build__section
            span.build__section-title Ranged Attack Units
            .build.clans__shooting-range.build--clans
                span Shooting Range
            .row
                .build.clans__eternal-forge.build--clans
                    span Eternal Forge
                span.build__or OR
                .build.clans__engineers-guild.build--clans
                    span Engineer's Guild

        .build__section
            span.build__section-title Support Units
            .build.clans__mountain-peak.build--clans
                span Mountain Peak
            .col
                .build.clans__cloud-keep.build--clans
                    span Cloud Keep
                .build.clans__bifrost-bridge.build--clans
                    span Bifrost Bridge
            span.build__or OR
            .col
                .build.clans__ice-mountains.build--clans
                    span Ice Mountains
                .build.clans__ice-caves.build--clans
                    span Ice Caves

        .btn.btn--save.btn--save-clans Save Picture

    .clans
        img.clans__town(src='img/mountain-clans/clans-town.png', width="640", height="600", alt='', title='')
        img.clans__mountain-peak(src='img/mountain-clans/clans-mountain-peak.png', width="640", height="600", alt='', title='')
        img.clans__alchemy-tower(src='img/mountain-clans/clans-alchemy-tower.png', width="640", height="600", alt='', title='')
        img.clans__ancestor-shrine(src='img/mountain-clans/clans-ancestor-shrine.png', width="640", height="600", alt='', title='')
        img.clans__armory(src='img/mountain-clans/clans-armory.png', width="640", height="600", alt='', title='')
        img.clans__brewery(src='img/mountain-clans/clans-brewery.png', width="640", height="600", alt='', title='')
        img.clans__cloud-keep(src='img/mountain-clans/clans-cloud-keep.png', width="640", height="600", alt='', title='')
        img.clans__bifrost-bridge(src='img/mountain-clans/clans-bifrost-bridge.png', width="640", height="600", alt='', title='')
        img.clans__cottage(src='img/mountain-clans/clans-cottage.png', width="640", height="600", alt='', title='')
        img.clans__engineers-guild(src='img/mountain-clans/clans-engineers-guild.png', width="640", height="600", alt='', title='')
        img.clans__eternal-forge(src='img/mountain-clans/clans-eternal-forge.png', width="640", height="600", alt='', title='')
        img.clans__fenrirs-hall(src='img/mountain-clans/clans-fenrirs-hall.png', width="640", height="600", alt='', title='')
        img.clans__guild(src='img/mountain-clans/clans-guild.png', width="640", height="600", alt='', title='')
        img.clans__ice-caves(src='img/mountain-clans/clans-ice-caves.png', width="640", height="600", alt='', title='')
        img.clans__ice-mountains(src='img/mountain-clans/clans-ice-mountains.png', width="640", height="600", alt='', title='')
        img.clans__elder-tree(src='img/mountain-clans/clans-elder-tree.png', width="640", height="600", alt='', title='')
        img.clans__kings-hall(src='img/mountain-clans/clans-kings-hall.png', width="640", height="600", alt='', title='')
        img.clans__magic-tower(src='img/mountain-clans/clans-magic-tower.png', width="640", height="600", alt='', title='')
        img.clans__mountain-lair(src='img/mountain-clans/clans-mountain-lair.png', width="640", height="600", alt='', title='')
        img.clans__outpost(src='img/mountain-clans/clans-outpost.png', width="640", height="600", alt='', title='')
        img.clans__rune-hall(src='img/mountain-clans/clans-rune-hall.png', width="640", height="600", alt='', title='')
        img.clans__shooting-range(src='img/mountain-clans/clans-shooting-range.png', width="640", height="600", alt='', title='')
        img.clans__snow-den(src='img/mountain-clans/clans-snow-den.png', width="640", height="600", alt='', title='')
        img.clans__wisdom-garden(src='img/mountain-clans/clans-wisdom-garden.png', width="640", height="600", alt='', title='')
        img.clans__temple(src='img/mountain-clans/clans-temple.png', width="640", height="600", alt='', title='')
