mixin elves-town
    .b-build-container.b-build-container--elves Building images of other towns were made as 640x600 transparent PNG with certain position of building, but developers didn't care about Elves and did their images with no this PNG background
        .b-btn.b-btn--save.b-btn--save-elves Save Picture

    .b-elves
        img.b-elves__town(src='img/elven-alliance/elves-town.png', alt='', title='')

