mixin elves-town
    div Building images of other towns were made as 640x600 transparent PNG with certain position of building, but developers didn't care about Elves and did their images with no this PNG background
