mixin elves-town
    .build-container.build-container--elves Building images of other towns were made as 640x600 transparent PNG with certain position of building, but Elves were made without this PNG background
        .build__section
            span.build__section-title Other Buildings
            .row
                .build.elves__guild.build--elves
                    span Guild
                .build.elves__magic-tower.build--elves
                    span Magic Tower
                .build.elves__temple.build--elves
                    span Temple
        .build__section
            span.build__section-title Fighter Units
            .col
                .row
                    .build.elves__centaur-hollow.build--elves
                        span Centaur Hollow
                    span.build__or OR
                .row
                    .build.elves__tribal-ground.build--elves
                        span Tribal Ground
            .col
                .row
                    .build.elves__centaur-stables.build--elves
                        span Centaur Stables
        .build__section
            span.build__section-title Mage Units
            .build.elves__cupola.build--elves
                span Cupola
            .col
                .build.elves__aviary.build--elves
                    span Aviary
                .build.elves__volary.build--elves
                    span Volary
            .col
                .row
                    br
                    .build.elves__elementarium.build--elves
                        span Elementarium
                    span.build__or OR
                    .build.elves__high-council.build--elves
                        span High Council

        .build__section
            span.build__section-title Ranged Attack Units
            .col
                .row
                    .build.elves__skinners-hutch.build--elves
                        span Skinner's Hutch
                .row
                    .build.elves__hovel.build--elves
                        span Hovel
                    span.build__or OR
                    .build.elves__lodge.build--elves
                        span Lodge
                .row
                    .build.elves__hideout.build--elves
                        span Hideout
                .row
                    .build.elves__harborage.build--elves
                        span Harborage
            span.build__or OR
            .col
                .row
                    .build.elves__lookout.build--elves
                        span Lookout
                .row
                    .build.elves__pyromantium.build--elves
                        span Pyromantium
                    span.build__or OR
                    .build.elves__hydromantium.build--elves
                        span Hydromantium
                
        .build__section
            span.build__section-title Support Units
            .col
                .build.elves__spriggan-circle.build--elves
                    span Spriggan Circle
                .build.elves__thicket.build--elves
                    span Thicket
                .row
                    .build.elves__firegrounds.build--elves
                        span Firegrounds
                    span.build__or OR
                    .build.elves__galleans-altar.build--elves
                        span Gallean's Altar

        .btn.btn--save.btn--save-elves Save Picture
    .elves
        img.lazyload.elves__town(data-src='img/elven-alliance/elves-town.png' alt='' title='')
        img.lazyload.elves__guild(data-src='img/elven-alliance/elves-guild.png' alt='' title='')
        img.lazyload.elves__magic-tower(data-src='img/elven-alliance/elves-magic-tower.gif' alt='' title='')
        img.lazyload.elves__temple(data-src='img/elven-alliance/elves-temple.gif' alt='' title='')
        img.lazyload.elves__centaur-hollow(data-src='img/elven-alliance/elves-centaur-hollow.gif' alt='' title='')
        img.lazyload.elves__centaur-stables(data-src='img/elven-alliance/elves-centaur-stables.gif' alt='' title='')
        img.lazyload.elves__tribal-ground(data-src='img/elven-alliance/elves-tribal-ground.png' alt='' title='')
        img.lazyload.elves__cupola(data-src='img/elven-alliance/elves-cupola.gif' alt='' title='')
        img.lazyload.elves__aviary(data-src='img/elven-alliance/elves-aviary.png' alt='' title='')
        img.lazyload.elves__volary(data-src='img/elven-alliance/elves-volary.gif' alt='' title='')
        img.lazyload.elves__high-council(data-src='img/elven-alliance/elves-high-council.gif' alt='' title='')
        img.lazyload.elves__elementarium(data-src='img/elven-alliance/elves-elementarium.gif' alt='' title='')
        img.lazyload.elves__hovel(data-src='img/elven-alliance/elves-hovel.gif' alt='' title='')
        img.lazyload.elves__skinners-hutch(data-src='img/elven-alliance/elves-skinners-hutch.gif' alt='' title='')
        img.lazyload.elves__lodge(data-src='img/elven-alliance/elves-lodge.png' alt='' title='')
        img.lazyload.elves__hideout(data-src='img/elven-alliance/elves-hideout.png' alt='' title='')
        img.lazyload.elves__lookout(data-src='img/elven-alliance/elves-lookout.png' alt='' title='')
        img.lazyload.elves__harborage(data-src='img/elven-alliance/elves-harborage.gif' alt='' title='')
        img.lazyload.elves__pyromantium(data-src='img/elven-alliance/elves-pyromantium.gif' alt='' title='')
        img.lazyload.elves__hydromantium(data-src='img/elven-alliance/elves-hydromantium.gif' alt='' title='')
        img.lazyload.elves__spriggan-circle(data-src='img/elven-alliance/elves-spriggan-circle.gif' alt='' title='')
        img.lazyload.elves__thicket(data-src='img/elven-alliance/elves-thicket.gif' alt='' title='')
        img.lazyload.elves__firegrounds(data-src='img/elven-alliance/elves-firegrounds.gif' alt='' title='')
        img.lazyload.elves__galleans-altar(data-src='img/elven-alliance/elves-galleans-altar.gif' alt='' title='')
