mixin empire-town
    .b-build-container.b-build-container--empire
        .b-build__section
            span.b-build__section-title Other Buildings
            .row
                .b-build.b-empire__guild.b-build--empire
                    span Guild
                .b-build.b-empire__magic-tower.b-build--empire
                    span Magic Tower
                .b-build.b-empire__temple.b-build--empire
                    span Temple
        .b-build__section
            span.b-build__section-title Fighter Units
            .col
                span.b-build__section-subtitle Knights
                .b-build.b-empire__stable.b-build--empire
                    span Stable
                .b-build.b-empire__imperial-stable.b-build--empire
                    span Imperial Stable
                .row
                    .b-build.b-empire__shrine.b-build--empire
                        span Shrine
                    span.b-build__or OR
                    .b-build.b-empire__fountain-of-life.b-build--empire
                        span Fountain of Life
                .row
                    .b-build.b-empire__holy-statue.b-build--empire
                        span Holy Statue
                    span.b-build__or OR
                    .b-build.b-empire__chapel.b-build--empire
                        span Chapel
            .col
                span.b-build__section-subtitle Inquisitors
                .b-build.b-empire__dungeon.b-build--empire
                    span Dungeon
                .b-build.b-empire__torture-chamber.b-build--empire
                    span  Torture Chamber
                .b-build.b-empire__magistrate.b-build--empire
                    span Magistrate
        .b-build__section
            span.b-build__section-title Mage Units
            .b-build.b-empire__library.b-build--empire
                span Library
            .row
                .b-build.b-empire__tower.b-build--empire
                    span Tower
                span.b-build__or OR
                .b-build.b-empire__elemental-circle.b-build--empire
                    span Elemental Circle

            .b-build.b-empire__arcane-tower.b-build--empire
                span Arcane Tower
            .b-build.b-empire__ruined-temple.b-build--empire
                span Ruined Temple
        .b-build__section
            span.b-build__section-title Ranged Attack Units
            .b-build.b-empire__archery-range.b-build--empire
                span Archery Range
            .b-build.b-empire__imperial-guild.b-build--empire
                span Imperial Guild
        .b-build__section
            span.b-build__section-title Support Units
            .col
                .b-build.b-empire__monastery.b-build--empire
                    span Monastery
                .b-build.b-empire__sanctuary.b-build--empire
                    span Sanctuary
                .b-build.b-empire__worship-house.b-build--empire
                    span Worship House
            span.b-build__or OR
            .col
                .b-build.b-empire__church.b-build--empire
                    span Church
                .b-build.b-empire__cathedral.b-build--empire
                    span Cathedral
                .b-build.b-empire__basilica.b-build--empire
                    span Basilica
        .b-build__section
            span.b-build__section-title Background
            .row
                .b-build.b-empire__flag-left.b-build--empire
                    span Left Flag
                .b-build.b-empire__flag-right.b-build--empire
                    span Right Flag
                    
        .b-btn.b-btn--save.b-btn--save-empire Save Picture

    .b-empire
        img.b-empire__town(src='img/empire/empire-town.png', alt='', title='')
        img.b-empire__monastery(src='img/empire/empire-monastery.png', alt='', title='')
        img.b-empire__sanctuary(src='img/empire/empire-sanctuary.png', alt='', title='')
        img.b-empire__worship-house(src='img/empire/empire-worship-house.png', alt='', title='')
        img.b-empire__church(src='img/empire/empire-church.png', alt='', title='')
        img.b-empire__cathedral(src='img/empire/empire-cathedral.png', alt='', title='')
        img.b-empire__basilica(src='img/empire/empire-basilica.png', alt='', title='')
        img.b-empire__magic-tower(src='img/empire/empire-magic-tower.png', alt='', title='')
        img.b-empire__guild(src='img/empire/empire-guild.png', alt='', title='')
        img.b-empire__chapel(src='img/empire/empire-chapel.png', alt='', title='')
        img.b-empire__library(src='img/empire/empire-library.png', alt='', title='')
        img.b-empire__elemental-circle(src='img/empire/empire-elemental-circle.png', alt='', title='')
        img.b-empire__tower(src='img/empire/empire-tower.png', alt='', title='')
        img.b-empire__ruined-temple(src='img/empire/empire-ruined-temple.png', alt='', title='')
        img.b-empire__arcane-tower(src='img/empire/empire-arcane-tower.png', alt='', title='')
        img.b-empire__walls(src='img/empire/empire-walls.png', alt='', title='')
        img.b-empire__imperial-guild(src='img/empire/empire-imperial-guild.png', alt='', title='')
        img.b-empire__archery-range(src='img/empire/empire-archery-range.png', alt='', title='')
        img.b-empire__temple(src='img/empire/empire-temple.png', alt='', title='')
        img.b-empire__holy-statue(src='img/empire/empire-holy-statue.png', alt='', title='')
        img.b-empire__shrine(src='img/empire/empire-shrine.png', alt='', title='')
        img.b-empire__fountain-of-life(src='img/empire/empire-fountain-of-life.png', alt='', title='')
        img.b-empire__stable(src='img/empire/empire-stable.png', alt='', title='')
        img.b-empire__imperial-stable(src='img/empire/empire-imperial-stable.png', alt='', title='')
        img.b-empire__magistrate(src='img/empire/empire-magistrate.png', alt='', title='')
        img.b-empire__torture-chamber(src='img/empire/empire-torture-chamber.png', alt='', title='')
        img.b-empire__dungeon(src='img/empire/empire-dungeon.png', alt='', title='')
        img.b-empire__flag-left(src='img/empire/empire-flag-left.gif', alt='', title='')
        img.b-empire__flag-right(src='img/empire/empire-flag-right.gif', alt='', title='')
