mixin empire-town
    .build-container.build-container--empire
        .build__section
            span.build__section-title Other Buildings
            .row
                .build.empire__guild.build--empire
                    span Guild
                .build.empire__magic-tower.build--empire
                    span Magic Tower
                .build.empire__temple.build--empire
                    span Temple
        .build__section
            span.build__section-title Fighter Units
            .col
                span.build__section-subtitle Knights
                .build.empire__stable.build--empire
                    span Stable
                .build.empire__imperial-stable.build--empire
                    span Imperial Stable
                .row
                    .build.empire__shrine.build--empire
                        span Shrine
                    span.build__or OR
                    .build.empire__fountain-of-life.build--empire
                        span Fountain of Life
                .row
                    .build.empire__holy-statue.build--empire
                        span Holy Statue
                    span.build__or OR
                    .build.empire__chapel.build--empire
                        span Chapel
            .col
                span.build__section-subtitle Inquisitors
                .build.empire__dungeon.build--empire
                    span Dungeon
                .build.empire__torture-chamber.build--empire
                    span  Torture Chamber
                .build.empire__magistrate.build--empire
                    span Magistrate
        .build__section
            span.build__section-title Mage Units
            .build.empire__library.build--empire
                span Library
            .row
                .build.empire__tower.build--empire
                    span Tower
                span.build__or OR
                .build.empire__elemental-circle.build--empire
                    span Elemental Circle

            .build.empire__arcane-tower.build--empire
                span Arcane Tower
            .build.empire__ruined-temple.build--empire
                span Ruined Temple
        .build__section
            span.build__section-title Ranged Attack Units
            .build.empire__archery-range.build--empire
                span Archery Range
            .build.empire__imperial-guild.build--empire
                span Imperial Guild
        .build__section
            span.build__section-title Support Units
            .col
                .build.empire__monastery.build--empire
                    span Monastery
                .build.empire__sanctuary.build--empire
                    span Sanctuary
                .build.empire__worship-house.build--empire
                    span Worship House
            span.build__or OR
            .col
                .build.empire__church.build--empire
                    span Church
                .build.empire__cathedral.build--empire
                    span Cathedral
                .build.empire__basilica.build--empire
                    span Basilica
        .build__section
            span.build__section-title Background
            .row
                .build.empire__flag-left.build--empire
                    span Left Flag
                .build.empire__flag-right.build--empire
                    span Right Flag
                    
        .btn.btn--save.btn--save-empire Save Picture

    .empire
        img.lazyload.empire__town(src="" data-src='img/empire/empire-town.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__monastery(src="" data-src='img/empire/empire-monastery.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__sanctuary(src="" data-src='img/empire/empire-sanctuary.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__worship-house(src="" data-src='img/empire/empire-worship-house.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__church(src="" data-src='img/empire/empire-church.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__cathedral(src="" data-src='img/empire/empire-cathedral.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__basilica(src="" data-src='img/empire/empire-basilica.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__magic-tower(src="" data-src='img/empire/empire-magic-tower.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__guild(src="" data-src='img/empire/empire-guild.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__chapel(src="" data-src='img/empire/empire-chapel.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__library(src="" data-src='img/empire/empire-library.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__elemental-circle(src="" data-src='img/empire/empire-elemental-circle.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__tower(src="" data-src='img/empire/empire-tower.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__ruined-temple(src="" data-src='img/empire/empire-ruined-temple.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__arcane-tower(src="" data-src='img/empire/empire-arcane-tower.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__walls(src="" data-src='img/empire/empire-walls.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__imperial-guild(src="" data-src='img/empire/empire-imperial-guild.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__archery-range(src="" data-src='img/empire/empire-archery-range.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__temple(src="" data-src='img/empire/empire-temple.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__holy-statue(src="" data-src='img/empire/empire-holy-statue.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__shrine(src="" data-src='img/empire/empire-shrine.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__fountain-of-life(src="" data-src='img/empire/empire-fountain-of-life.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__stable(src="" data-src='img/empire/empire-stable.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__imperial-stable(src="" data-src='img/empire/empire-imperial-stable.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__magistrate(src="" data-src='img/empire/empire-magistrate.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__torture-chamber(src="" data-src='img/empire/empire-torture-chamber.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__dungeon(src="" data-src='img/empire/empire-dungeon.png' width="640" height="600" alt='' title='')
        img.lazyload.empire__flag-left(src="" data-src='img/empire/empire-flag-left.gif' width="640" height="600" alt='' title='')
        img.lazyload.empire__flag-right(src="" data-src='img/empire/empire-flag-right.gif' width="640" height="600" alt='' title='')
