mixin legions-town
    .build-container.build-container--legions
        .build__section
            span.build__section-title Other Buildings
            .row
                .build.legions__guild.build--legions
                    span Guild
                .build.legions__magic-tower.build--legions
                    span Magic Tower
                .build.legions__temple.build--legions
                    span Temple

        .build__section
            span.build__section-title Fighter Units
            .row
                .build.legions__unholy-portal.build--legions
                    span Unholy Portal
                .build.legions__temple-of-grief.build--legions
                    span Temple of Grief
            .build.legions__tower-of-souls.build--legions
                span Tower of Souls
            .build.legions__bethrezens-idol.build--legions
                span Bethrezen's idol


        .build__section
            span.build__section-title Mage Units
            .col
                .build.legions__occult-abbey.build--legions
                    span Occult Abbey
                .row
                    .build.legions__soul-keep.build--legions
                        span Soul Keep
                    span.build__or OR
                    .build.legions__dark-sanctuary.build--legions
                        span Dark Sanctuary
                .row
                    .build.legions__hall-of-deceit.build--legions
                        span Hall of Deceit
                    span.build__or OR
                    .col
                        .build.legions__altar.build--legions
                            span Altar
                        .build.legions__worship-shrine.build--legions
                            span Worship Shrine
            .col
                .build.legions__palace-of-vice.build--legions
                    span Palace of Vice
                .build.legions__palace-of-sin.build--legions
                    span Palace of Sin
                .build.legions__high-temple.build--legions
                    span High Temple

        .build__section
            span.build__section-title Ranged Attack Units
            .build.legions__spire.build--legions
                span Spire
            .build.legions__onyx-spire.build--legions
                span Onyx Spire

        .build__section
            span.build__section-title Support Units
            .build.legions__unholy-gate.build--legions
                span Unholy Gate
            .build.legions__torment-chapel.build--legions
                span Torment-Chapel
            .col
                .build.legions__unholy-altar.build--legions
                    span Unholy Altar
                .build.legions__slave-dungeon.build--legions
                    span Slave Dungeon
            span.build__or OR
            .col
                .build.legions__hellish-portal.build--legions
                    span Hellish Portal
                .row
                    .build.legions__unholy-halls.build--legions
                        span Unholy Halls
                    span.build__or OR
                    .build.legions__unholy-mansion.build--legions
                        span Unholy Mansion

        .btn.btn--save.btn--save-legions Save Picture

    .legions
        img.legions__town(src='img/legions-of-the-damned/legions-town.png', width="640", height="600", alt='', title='')
        img.legions__guild(src='img/legions-of-the-damned/legions-guild.png', width="640", height="600", alt='', title='')
        img.legions__magic-tower(src='img/legions-of-the-damned/legions-magic-tower.png', width="640", height="600", alt='', title='')
        img.legions__temple(src='img/legions-of-the-damned/legions-temple.png', width="640", height="600", alt='', title='')
        img.legions__altar(src='img/legions-of-the-damned/legions-altar.png', width="640", height="600", alt='', title='')
        img.legions__bethrezens-idol(src='img/legions-of-the-damned/legions-bethrezens-idol.png', width="640", height="600", alt='', title='')
        img.legions__dark-sanctuary(src='img/legions-of-the-damned/legions-dark-sanctuary.png', width="640", height="600", alt='', title='')
        img.legions__hall-of-deceit(src='img/legions-of-the-damned/legions-hall-of-deceit.png', width="640", height="600", alt='', title='')
        img.legions__hellish-portal(src='img/legions-of-the-damned/legions-hellish-portal.png', width="640", height="600", alt='', title='')
        img.legions__high-temple(src='img/legions-of-the-damned/legions-high-temple.png', width="640", height="600", alt='', title='')
        img.legions__occult-abbey(src='img/legions-of-the-damned/legions-occult-abbey.png', width="640", height="600", alt='', title='')
        img.legions__onyx-spire(src='img/legions-of-the-damned/legions-onyx-spire.png', width="640", height="600", alt='', title='')
        img.legions__palace-of-sin(src='img/legions-of-the-damned/legions-palace-of-sin.png', width="640", height="600", alt='', title='')
        img.legions__palace-of-vice(src='img/legions-of-the-damned/legions-palace-of-vice.png', width="640", height="600", alt='', title='')
        img.legions__slave-dungeon(src='img/legions-of-the-damned/legions-slave-dungeon.png', width="640", height="600", alt='', title='')
        img.legions__soul-keep(src='img/legions-of-the-damned/legions-soul-keep.png', width="640", height="600", alt='', title='')
        img.legions__spire(src='img/legions-of-the-damned/legions-spire.png', width="640", height="600", alt='', title='')
        img.legions__temple-of-grief(src='img/legions-of-the-damned/legions-temple-of-grief.png', width="640", height="600", alt='', title='')
        img.legions__torment-chapel(src='img/legions-of-the-damned/legions-torment-chapel.png', width="640", height="600", alt='', title='')
        img.legions__tower-of-souls(src='img/legions-of-the-damned/legions-tower-of-souls.png', width="640", height="600", alt='', title='')
        img.legions__unholy-altar(src='img/legions-of-the-damned/legions-unholy-altar.png', width="640", height="600", alt='', title='')
        img.legions__unholy-gate(src='img/legions-of-the-damned/legions-unholy-gate.png', width="640", height="600", alt='', title='')
        img.legions__unholy-mansion(src='img/legions-of-the-damned/legions-unholy-mansion.png', width="640", height="600", alt='', title='')
        img.legions__unholy-halls(src='img/legions-of-the-damned/legions-unholy-halls.png', width="640", height="600", alt='', title='')
        img.legions__unholy-portal(src='img/legions-of-the-damned/legions-unholy-portal.png', width="640", height="600", alt='', title='')
        img.legions__worship-shrine(src='img/legions-of-the-damned/legions-worship-shrine.png', width="640", height="600", alt='', title='')
