mixin legions-town
    .b-build-container.b-build-container--legions
        .b-build__section
            span.b-build__section-title Other Buildings
            .row
                .b-build.b-legions__guild.b-build--legions
                    span Guild
                .b-build.b-legions__magic-tower.b-build--legions
                    span Magic Tower
                .b-build.b-legions__temple.b-build--legions
                    span Temple

        .b-build__section
            span.b-build__section-title Fighter Units
            .row
                .b-build.b-legions__unholy-portal.b-build--legions
                    span Unholy Portal
                .b-build.b-legions__temple-of-grief.b-build--legions
                    span Temple of Grief
            .b-build.b-legions__tower-of-souls.b-build--legions
                span Tower of Souls
            .b-build.b-legions__bethrezens-idol.b-build--legions
                span Bethrezen's idol


        .b-build__section
            span.b-build__section-title Mage Units
            .col
                .b-build.b-legions__occult-abbey.b-build--legions
                    span Occult Abbey
                .row
                    .b-build.b-legions__soul-keep.b-build--legions
                        span Soul Keep
                    span.b-build__or OR
                    .b-build.b-legions__dark-sanctuary.b-build--legions
                        span Dark Sanctuary
                .row
                    .b-build.b-legions__hall-of-deceit.b-build--legions
                        span Hall of Deceit
                    span.b-build__or OR
                    .col
                        .b-build.b-legions__altar.b-build--legions
                            span Altar
                        .b-build.b-legions__worship-shrine.b-build--legions
                            span Worship Shrine
            .col
                .b-build.b-legions__palace-of-vice.b-build--legions
                    span Palace of Vice
                .b-build.b-legions__palace-of-sin.b-build--legions
                    span Palace of Sin
                .b-build.b-legions__high-temple.b-build--legions
                    span High Temple

        .b-build__section
            span.b-build__section-title Ranged Attack Units
            .b-build.b-legions__spire.b-build--legions
                span Spire
            .b-build.b-legions__onyx-spire.b-build--legions
                span Onyx Spire

        .b-build__section
            span.b-build__section-title Support Units
            .b-build.b-legions__unholy-gate.b-build--legions
                span Unholy Gate
            .b-build.b-legions__torment-chapel.b-build--legions
                span Torment-Chapel
            .col
                .b-build.b-legions__unholy-altar.b-build--legions
                    span Unholy Altar
                .b-build.b-legions__slave-dungeon.b-build--legions
                    span Slave Dungeon
            span.b-build__or OR
            .col
                .b-build.b-legions__hellish-portal.b-build--legions
                    span Hellish Portal
                .row
                    .b-build.b-legions__unholy-halls.b-build--legions
                        span Unholy Halls
                    span.b-build__or OR
                    .b-build.b-legions__unholy-mansion.b-build--legions
                        span Unholy Mansion

        .b-btn.b-btn--save-legions Save Picture

    .b-legions
        img.b-legions__town(src='img/legions-of-the-damned/legions-town.png', alt='', title='')
        img.b-legions__guild(src='img/legions-of-the-damned/legions-guild.png', alt='', title='')
        img.b-legions__magic-tower(src='img/legions-of-the-damned/legions-magic-tower.png', alt='', title='')
        img.b-legions__temple(src='img/legions-of-the-damned/legions-temple.png', alt='', title='')
        img.b-legions__altar(src='img/legions-of-the-damned/legions-altar.png', alt='', title='')
        img.b-legions__bethrezens-idol(src='img/legions-of-the-damned/legions-bethrezens-idol.png', alt='', title='')
        img.b-legions__dark-sanctuary(src='img/legions-of-the-damned/legions-dark-sanctuary.png', alt='', title='')
        img.b-legions__hall-of-deceit(src='img/legions-of-the-damned/legions-hall-of-deceit.png', alt='', title='')
        img.b-legions__hellish-portal(src='img/legions-of-the-damned/legions-hellish-portal.png', alt='', title='')
        img.b-legions__high-temple(src='img/legions-of-the-damned/legions-high-temple.png', alt='', title='')
        img.b-legions__occult-abbey(src='img/legions-of-the-damned/legions-occult-abbey.png', alt='', title='')
        img.b-legions__onyx-spire(src='img/legions-of-the-damned/legions-onyx-spire.png', alt='', title='')
        img.b-legions__palace-of-sin(src='img/legions-of-the-damned/legions-palace-of-sin.png', alt='', title='')
        img.b-legions__palace-of-vice(src='img/legions-of-the-damned/legions-palace-of-vice.png', alt='', title='')
        img.b-legions__slave-dungeon(src='img/legions-of-the-damned/legions-slave-dungeon.png', alt='', title='')
        img.b-legions__soul-keep(src='img/legions-of-the-damned/legions-soul-keep.png', alt='', title='')
        img.b-legions__spire(src='img/legions-of-the-damned/legions-spire.png', alt='', title='')
        img.b-legions__temple-of-grief(src='img/legions-of-the-damned/legions-temple-of-grief.png', alt='', title='')
        img.b-legions__torment-chapel(src='img/legions-of-the-damned/legions-torment-chapel.png', alt='', title='')
        img.b-legions__tower-of-souls(src='img/legions-of-the-damned/legions-tower-of-souls.png', alt='', title='')
        img.b-legions__unholy-altar(src='img/legions-of-the-damned/legions-unholy-altar.png', alt='', title='')
        img.b-legions__unholy-gate(src='img/legions-of-the-damned/legions-unholy-gate.png', alt='', title='')
        img.b-legions__unholy-mansion(src='img/legions-of-the-damned/legions-unholy-mansion.png', alt='', title='')
        img.b-legions__unholy-halls(src='img/legions-of-the-damned/legions-unholy-halls.png', alt='', title='')
        img.b-legions__unholy-portal(src='img/legions-of-the-damned/legions-unholy-portal.png', alt='', title='')
        img.b-legions__worship-shrine(src='img/legions-of-the-damned/legions-worship-shrine.png', alt='', title='')
