mixin undead-town
    .b-build-container.b-build-container--undead
        .b-build__section
            span.b-build__section-title Other Buildings
            .row
                .b-build.b-undead__guild.b-build--undead
                    span Guild
                .b-build.b-undead__magic-tower.b-build--undead
                    span Magic Tower
                .b-build.b-undead__temple.b-build--undead
                    span Temple

        .b-build__section
            span.b-build__section-title Fighter Units
            .col
                span.b-build__section-subtitle Left
                .b-build.b-undead__unholy-ground.b-build--undead
                    span Unholy Ground
                .b-build.b-undead__graveyard.b-build--undead
                    span Graveyard
                .b-build.b-undead__vault-of-souls.b-build--undead
                    span Vault of Souls
                .b-build.b-undead__crematorium.b-build--undead
                    span Crematorium
            .col
                span.b-build__section-subtitle Right
                .b-build.b-undead__evil-monastery.b-build--undead
                    span Evil Monastery
                .b-build.b-undead__dark-idol.b-build--undead
                    span Dark Idol

        .b-build__section
            span.b-build__section-title Mage Units
            .b-build.b-undead__dark-temple.b-build--undead
                span Dark Temple
            .col
                .b-build.b-undead__occult-temple.b-build--undead
                    span Occult Temple
                .col
                    .b-build.b-undead__crypt.b-build--undead
                        span Crypt
                    .b-build.b-undead__stronghold.b-build--undead
                        span Stronghold
                span.b-build__or OR
                .col
                    .b-build.b-undead__dark-tower.b-build--undead
                        span Dark Tower
                    .b-build.b-undead__sorcery-tower.b-build--undead
                        span Sorcery Tower
            span.b-build__or OR
            .col
                .b-build.b-undead__cursed-chapel.b-build--undead
                    span Cursed Chapel
                .row
                    .b-build.b-undead__soul-pit.b-build--undead
                        span Soul Pit
                    span.b-build__or OR
                    .b-build.b-undead__abode-of-mortis.b-build--undead
                        span Abode of Mortis

        .b-build__section
            span.b-build__section-title Ranged Attack Units
            .b-build.b-undead__sepulchre.b-build--undead
                span Sepulchre
            .b-build.b-undead__catacomb.b-build--undead
                span Catacomb
        .b-build__section
            span.b-build__section-title Support Units
            .col
                .b-build.b-undead__cavern.b-build--undead
                    span Cavern
                .b-build.b-undead__boneyard.b-build--undead
                    span Boneyard
                .row
                    .b-build.b-undead__dragon-cemetery.b-build--undead
                        span Dragon Cemetery
                    span.b-build__or OR
                    .b-build.b-undead__cursed-cemetery.b-build--undead
                        span Cursed Cemetery
                .b-build.b-undead__werewolfs-den.b-build--undead
                    span Werewolf's Den
        .b-build__section
            span.b-build__section-title Background
            .row
                .b-build.b-undead__bat.b-build--undead
                    span Bat
                    
        .b-btn.b-btn--save.b-btn--save-undead Save Picture

    .b-undead
        img.b-undead__town(src='img/undead-hordes/undead-town.png', alt='', title='')
        img.b-undead__guild(src='img/undead-hordes/undead-guild.png', alt='', title='')
        img.b-undead__magic-tower(src='img/undead-hordes/undead-magic-tower.png', alt='', title='')
        img.b-undead__temple(src='img/undead-hordes/undead-temple.png', alt='', title='')
        img.b-undead__abode-of-mortis(src='img/undead-hordes/undead-abode-of-mortis.png', alt='', title='')
        img.b-undead__boneyard(src='img/undead-hordes/undead-boneyard.png', alt='', title='')
        img.b-undead__catacomb(src='img/undead-hordes/undead-catacomb.png', alt='', title='')
        img.b-undead__crematorium(src='img/undead-hordes/undead-crematorium.png', alt='', title='')
        img.b-undead__crypt(src='img/undead-hordes/undead-crypt.png', alt='', title='')
        img.b-undead__cursed-cemetery(src='img/undead-hordes/undead-cursed-cemetery.png', alt='', title='')
        img.b-undead__cursed-chapel(src='img/undead-hordes/undead-cursed-chapel.png', alt='', title='')
        img.b-undead__dark-idol(src='img/undead-hordes/undead-dark-idol.png', alt='', title='')
        img.b-undead__dark-temple(src='img/undead-hordes/undead-dark-temple.png', alt='', title='')
        img.b-undead__dark-tower(src='img/undead-hordes/undead-dark-tower.png', alt='', title='')
        img.b-undead__dragon-cemetery(src='img/undead-hordes/undead-dragon-cemetery.png', alt='', title='')
        img.b-undead__evil-monastery(src='img/undead-hordes/undead-evil-monastery.png', alt='', title='')
        img.b-undead__graveyard(src='img/undead-hordes/undead-graveyard.png', alt='', title='')
        img.b-undead__occult-temple(src='img/undead-hordes/undead-occult-temple.png', alt='', title='')
        img.b-undead__sepulchre(src='img/undead-hordes/undead-sepulchre.png', alt='', title='')
        img.b-undead__cavern(src='img/undead-hordes/undead-cavern.png', alt='', title='')
        img.b-undead__sorcery-tower(src='img/undead-hordes/undead-sorcery-tower.png', alt='', title='')
        img.b-undead__soul-pit(src='img/undead-hordes/undead-soul-pit.png', alt='', title='')
        img.b-undead__stronghold(src='img/undead-hordes/undead-stronghold.png', alt='', title='')
        img.b-undead__unholy-ground(src='img/undead-hordes/undead-unholy-ground.png', alt='', title='')
        img.b-undead__vault-of-souls(src='img/undead-hordes/undead-vault-of-souls.png', alt='', title='')
        img.b-undead__werewolfs-den(src='img/undead-hordes/undead-werewolfs-den.png', alt='', title='')
        img.b-undead__bat(src='img/undead-hordes/undead-bat.gif', alt='', title='')
