mixin undead-town
    .build-container.build-container--undead
        .build__section
            span.build__section-title Other Buildings
            .row
                .build.undead__guild.build--undead
                    span Guild
                .build.undead__magic-tower.build--undead
                    span Magic Tower
                .build.undead__temple.build--undead
                    span Temple

        .build__section
            span.build__section-title Fighter Units
            .col
                span.build__section-subtitle Left
                .build.undead__unholy-ground.build--undead
                    span Unholy Ground
                .build.undead__graveyard.build--undead
                    span Graveyard
                .build.undead__vault-of-souls.build--undead
                    span Vault of Souls
                .build.undead__crematorium.build--undead
                    span Crematorium
            .col
                span.build__section-subtitle Right
                .build.undead__evil-monastery.build--undead
                    span Evil Monastery
                .build.undead__dark-idol.build--undead
                    span Dark Idol

        .build__section
            span.build__section-title Mage Units
            .build.undead__dark-temple.build--undead
                span Dark Temple
            .col
                .build.undead__occult-temple.build--undead
                    span Occult Temple
                .col
                    .build.undead__crypt.build--undead
                        span Crypt
                    .build.undead__stronghold.build--undead
                        span Stronghold
                span.build__or OR
                .col
                    .build.undead__dark-tower.build--undead
                        span Dark Tower
                    .build.undead__sorcery-tower.build--undead
                        span Sorcery Tower
            span.build__or OR
            .col
                .build.undead__cursed-chapel.build--undead
                    span Cursed Chapel
                .row
                    .build.undead__soul-pit.build--undead
                        span Soul Pit
                    span.build__or OR
                    .build.undead__abode-of-mortis.build--undead
                        span Abode of Mortis

        .build__section
            span.build__section-title Ranged Attack Units
            .build.undead__sepulchre.build--undead
                span Sepulchre
            .build.undead__catacomb.build--undead
                span Catacomb
        .build__section
            span.build__section-title Support Units
            .col
                .build.undead__cavern.build--undead
                    span Cavern
                .build.undead__boneyard.build--undead
                    span Boneyard
                .row
                    .build.undead__dragon-cemetery.build--undead
                        span Dragon Cemetery
                    span.build__or OR
                    .build.undead__cursed-cemetery.build--undead
                        span Cursed Cemetery
                .build.undead__werewolfs-den.build--undead
                    span Werewolf's Den
        .build__section
            span.build__section-title Background
            .row
                .build.undead__bat.build--undead
                    span Bat
                    
        .btn.btn--save.btn--save-undead Save Picture

    .undead
        img.undead__town(src='img/undead-hordes/undead-town.png', alt='', title='')
        img.undead__guild(src='img/undead-hordes/undead-guild.png', alt='', title='')
        img.undead__magic-tower(src='img/undead-hordes/undead-magic-tower.png', alt='', title='')
        img.undead__temple(src='img/undead-hordes/undead-temple.png', alt='', title='')
        img.undead__abode-of-mortis(src='img/undead-hordes/undead-abode-of-mortis.png', alt='', title='')
        img.undead__boneyard(src='img/undead-hordes/undead-boneyard.png', alt='', title='')
        img.undead__catacomb(src='img/undead-hordes/undead-catacomb.png', alt='', title='')
        img.undead__crematorium(src='img/undead-hordes/undead-crematorium.png', alt='', title='')
        img.undead__crypt(src='img/undead-hordes/undead-crypt.png', alt='', title='')
        img.undead__cursed-cemetery(src='img/undead-hordes/undead-cursed-cemetery.png', alt='', title='')
        img.undead__cursed-chapel(src='img/undead-hordes/undead-cursed-chapel.png', alt='', title='')
        img.undead__dark-idol(src='img/undead-hordes/undead-dark-idol.png', alt='', title='')
        img.undead__dark-temple(src='img/undead-hordes/undead-dark-temple.png', alt='', title='')
        img.undead__dark-tower(src='img/undead-hordes/undead-dark-tower.png', alt='', title='')
        img.undead__dragon-cemetery(src='img/undead-hordes/undead-dragon-cemetery.png', alt='', title='')
        img.undead__evil-monastery(src='img/undead-hordes/undead-evil-monastery.png', alt='', title='')
        img.undead__graveyard(src='img/undead-hordes/undead-graveyard.png', alt='', title='')
        img.undead__occult-temple(src='img/undead-hordes/undead-occult-temple.png', alt='', title='')
        img.undead__sepulchre(src='img/undead-hordes/undead-sepulchre.png', alt='', title='')
        img.undead__cavern(src='img/undead-hordes/undead-cavern.png', alt='', title='')
        img.undead__sorcery-tower(src='img/undead-hordes/undead-sorcery-tower.png', alt='', title='')
        img.undead__soul-pit(src='img/undead-hordes/undead-soul-pit.png', alt='', title='')
        img.undead__stronghold(src='img/undead-hordes/undead-stronghold.png', alt='', title='')
        img.undead__unholy-ground(src='img/undead-hordes/undead-unholy-ground.png', alt='', title='')
        img.undead__vault-of-souls(src='img/undead-hordes/undead-vault-of-souls.png', alt='', title='')
        img.undead__werewolfs-den(src='img/undead-hordes/undead-werewolfs-den.png', alt='', title='')
        img.undead__bat(src='img/undead-hordes/undead-bat.gif', alt='', title='')
