/phpinfo.php

# файлы создаваемые редакторами
*.bak
*.orig
*.sublime-grunt.cache
*.sublime-gulp.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.idea
.project
.settings
.tmproj

# файлы системы
.DS_Store
Thumbs.db

# папки Bitrix
/upload/*
/bitrix/*
/logs

# файлы шаблона
/local/templates/*/js/*
/local/templates/*/css/*
/local/templates/*/img/*
/local/templates/*/fonts/*
/html/build/*

# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~

# текстовые и прочие файлы в том числе файлы бд
*.xml
*.txt
*.dt
*.psd
*.pdf
*.log
*.sql
!/backups/*.sql

# архивы
*.tar.gz
*.tar
*.zip
*.7z
*.cab
*.exe
*.rar
*.pak
*.zipx

# исключения для composer
composer.phar
composer.lock
/local/php_interface/include/vendor/*

# Резервная копия оригинального файла
*.orig

# Файлы офиса
*.doc
*.doxc
*.xls
*.xlsx
*.ppt
*.pttx

#Bower and npm
bower_components/
node_modules/
npm-debug.log

#CVS
.CVS
.git
.hg
.idea
.svn

templates/
