.undead {
  position: relative;
  display: inline-block;
  width: 640px;
  height: 600px;

  img {
    position: absolute;
    top: 0;
    display: none;
    width: 640px;
    height: 600px;

    &.undead__town,
    &.undead__walls {
      display: block;
    }

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }
  }

  &__dragon-cemetery {
    z-index: 2;
  }

  &__evil-monastery {
    z-index: 1;
  }

  &__graveyard {
    z-index: 1;
  }

  &__town {
    z-index: 0;
  }

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }
}
