.b-clans {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;
  }

  &__brewery {
    z-index: 1;
  }

  &__town {
    z-index: 0;
  }
}

.b-clans img.b-clans__town, .b-clans img.b-clans__walls {
  display: block;
}
