.b-legions {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;
  }

  &__town {
    z-index: 0;
  }
}

.b-legions img.b-legions__town {
  display: block;
}
