.build-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 550px;
  // width: 100%;

  @media #{$tablet} {
    margin-bottom: 30px;
  }

  @media #{$mobile} {
    font-size: 15px;
  }
}

.build {
  display: table;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover span {
    transition-duration: $t-transition-duration;
  }

  span {
    padding: 2px 5px;
    border: 1px solid #000;
    user-select: none;
  }

  &--empire {
    &:hover span {
      background-color: $c-empire-bg;
      color: $c-btn-text-hover;
    }
  }

  &--undead {
    &:hover span {
      background-color: $c-undead-bg;
      color: $c-btn-text-hover;
    }
  }

  &--elves {
    &:hover span {
      background-color: $c-elves-bg;
      color: $c-btn-text-hover;
    }
  }

  &--clans {
    &:hover span {
      background-color: $c-clans-bg;
      color: $c-btn-text-hover;
    }
  }

  &--legions {
    &:hover span {
      background-color: $c-legions-bg;
      color: $c-btn-text-hover;
    }
  }

  &--clans.is-active span {
    background: $c-clans-bg;
    color: $c-clans-text;
  }

  &--empire.is-active span {
    background: $c-empire-bg;
    color: $c-empire-text;
  }

  &--undead.is-active span {
    background: $c-undead-bg;
    color: $c-undead-text;
  }

  &--legions.is-active span {
    background: $c-legions-bg;
    color: $c-legions-text;
  }

  &__or {
    font-weight: 700;
    margin-right: 5px;
  }

  &__section {
    margin-bottom: 5px;
  }

  &__section-title {
    display: block;
    font-weight: 700;
  }
}
