.elves {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  @media #{$mobile} {
    width: 100%;
    height: 500px;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    @media #{$mobile} {
      width: 100%;
      height: auto;
    }
    
    &.elves__town {
      display: block;
    }
  }
}
