.empire {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 600px;

  img {
    display: none;
    position: absolute;
    top: 0;
    width: 640px;
    height: 600px;

    &.empire__town, 
    &.empire__walls {
      display: block;
    }
  }

  &__town {
    z-index: 0;
  }
}
