.tab {
  display: none;
  padding: 20px;
  border: 1px solid #000;

  @media #{$mobile} {
    padding: 10px;
  }

  &.is-active {
    display: block;
  }
}

.tab-content {
  // border-image: url(../img/border.png) 8;

  @media #{$mobile} {
    width: 100%;
  }
}


.nav-tab {
  display: inline-block;
  padding: 20px;

  &.is-active {
    color: #ff4200;
  }
}
