section
  .build-container.build-container--undead
    .build__section
      span.build__section-title Other Buildings
      .row
        .build.undead__guild.build--undead
          span Guild
        .build.undead__magic-tower.build--undead
          span Magic Tower
        .build.undead__temple.build--undead
          span Temple

    .build__section
      span.build__section-title Fighter Units
      .col
        span.build__section-subtitle Left
        .build.undead__unholy-ground.build--undead
          span Unholy Ground
        .build.undead__graveyard.build--undead
          span Graveyard
        .build.undead__vault-of-souls.build--undead
          span Vault of Souls
        .build.undead__crematorium.build--undead
          span Crematorium
      .col
        span.build__section-subtitle Right
        .build.undead__evil-monastery.build--undead
          span Evil Monastery
        .build.undead__dark-idol.build--undead
          span Dark Idol

    .build__section
      span.build__section-title Mage Units
      .build.undead__dark-temple.build--undead
        span Dark Temple
      .col
        .build.undead__occult-temple.build--undead
          span Occult Temple
        .col
          .build.undead__crypt.build--undead
            span Crypt
          .build.undead__stronghold.build--undead
            span Stronghold
        span.build__or OR
        .col
          .build.undead__dark-tower.build--undead
            span Dark Tower
          .build.undead__sorcery-tower.build--undead
            span Sorcery Tower
      span.build__or OR
      .col
        .build.undead__cursed-chapel.build--undead
          span Cursed Chapel
        .row
          .build.undead__soul-pit.build--undead
            span Soul Pit
          span.build__or OR
          .build.undead__abode-of-mortis.build--undead
            span Abode of Mortis

    .build__section
      span.build__section-title Ranged Attack Units
      .build.undead__sepulchre.build--undead
        span Sepulchre
      .build.undead__catacomb.build--undead
        span Catacomb
    .build__section
      span.build__section-title Support Units
      .col
        .build.undead__cavern.build--undead
          span Cavern
        .build.undead__boneyard.build--undead
          span Boneyard
        .row
          .build.undead__dragon-cemetery.build--undead
            span Dragon Cemetery
          span.build__or OR
          .build.undead__cursed-cemetery.build--undead
            span Cursed Cemetery
        .build.undead__werewolfs-den.build--undead
          span Werewolf's Den
    .build__section
      span.build__section-title Background
      .row
        .build.undead__bat.build--undead
          span Bat
    .btn.btn--save.btn--save-undead Save Picture

  .undead
    img.lazyload.undead__town(src="#" data-src="images/undead-hordes/undead-town.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__guild(src="#" data-src="images/undead-hordes/undead-guild.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__magic-tower(src="#" data-src="images/undead-hordes/undead-magic-tower.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__temple(src="#" data-src="images/undead-hordes/undead-temple.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__abode-of-mortis(src="#" data-src="images/undead-hordes/undead-abode-of-mortis.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__boneyard(src="#" data-src="images/undead-hordes/undead-boneyard.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__catacomb(src="#" data-src="images/undead-hordes/undead-catacomb.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__crematorium(src="#" data-src="images/undead-hordes/undead-crematorium.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__crypt(src="#" data-src="images/undead-hordes/undead-crypt.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__cursed-cemetery(src="#" data-src="images/undead-hordes/undead-cursed-cemetery.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__cursed-chapel(src="#" data-src="images/undead-hordes/undead-cursed-chapel.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__dark-idol(src="#" data-src="images/undead-hordes/undead-dark-idol.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__dark-temple(src="#" data-src="images/undead-hordes/undead-dark-temple.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__dark-tower(src="#" data-src="images/undead-hordes/undead-dark-tower.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__dragon-cemetery(src="#" data-src="images/undead-hordes/undead-dragon-cemetery.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__evil-monastery(src="#" data-src="images/undead-hordes/undead-evil-monastery.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__graveyard(src="#" data-src="images/undead-hordes/undead-graveyard.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__occult-temple(src="#" data-src="images/undead-hordes/undead-occult-temple.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__sepulchre(src="#" data-src="images/undead-hordes/undead-sepulchre.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__cavern(src="#" data-src="images/undead-hordes/undead-cavern.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__sorcery-tower(src="#" data-src="images/undead-hordes/undead-sorcery-tower.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__soul-pit(src="#" data-src="images/undead-hordes/undead-soul-pit.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__stronghold(src="#" data-src="images/undead-hordes/undead-stronghold.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__unholy-ground(src="#" data-src="images/undead-hordes/undead-unholy-ground.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__vault-of-souls(src="#" data-src="images/undead-hordes/undead-vault-of-souls.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__werewolfs-den(src="#" data-src="images/undead-hordes/undead-werewolfs-den.png" width="640" height="600" alt=" title=")
    img.lazyload.undead__bat(src="#" data-src="images/undead-hordes/undead-bat.gif" width="640" height="600" alt=" title=")