.tab {
  display: none;
  padding: 20px;

  &.is-active {
    display: block;
  }

  @media #{$mobile} {
    padding: 10px;
  }
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.tab-content {
  border: 8px solid transparent;
  border-image: url("../images/border.png") 8;

  @media #{$mobile} {
    width: 100%;
  }
}

.nav-tab {
  display: inline-block;
  border: none;
  padding: 12px 24px;
  min-width: 200px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  transition-property: box-shadow;
  transition-duration: $global-transition-duration;

  &:hover {
    box-shadow: 0 0 8px 0 #999;
    transition-property: box-shadow;
    transition-duration: $global-transition-duration;
  }

  &.is-active {
    box-shadow: 0 0 8px 0 #999;
    color: $color-black;
    background: $color-white;

    &:hover {
      box-shadow: 0 0 8px 0 #999;
      color: $color-black;
      background: $color-white;
    }
  }

  &--empire {
    color: $btn-text-hover;
    background-color: $empire-color;

    &:hover {
      color: $btn-text-hover;
      background-color: $empire-color;
    }
  }

  &--undead {
    color: $btn-text-hover;
    background-color: $undead-color;

    &:hover {
      color: $btn-text-hover;
      background-color: $undead-color;
    }
  }

  &--elves {
    color: $btn-text-hover;
    background-color: $elves-color;

    &:hover {
      color: $btn-text-hover;
      background-color: $elves-color;
    }
  }

  &--clans {
    color: $btn-text-hover;
    background-color: $clans-color;

    &:hover {
      color: $btn-text-hover;
      background-color: $clans-color;
    }
  }

  &--legions {
    color: $btn-text-hover;
    background-color: $legions-color;

    &:hover {
      color: $btn-text-hover;
      background-color: $legions-color;
    }
  }

  @media #{$mobile} {
    width: 100%;
  }
}
