extends pug/base

append vars
  - var title = "Disciples 2 - Main Menu";

block content
  .main-menu
    .main-menu__inner
      ul.main-menu__list
        li.main-menu__item
          a.main-menu__link(href="races.html" title="") Races
        li.main-menu__item
          a.main-menu__link(href="uikit.html" title="") UI Kit
        li.main-menu__item
          a.main-menu__link(href="" title="")
        li.main-menu__item
          a.main-menu__link(href="" title="")
        li.main-menu__item
          a.main-menu__link(href="" title="")
        li.main-menu__item
          a.main-menu__link(href="" title="")
        li.main-menu__item
          a.main-menu__link(href="" title="")
