*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-size: $global-font-size;
  line-height: $global-line-height;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  cursor: url("../images/cursor-sword.png"), default;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
  cursor: pointer;
}

img {
  box-sizing: content-box;
}

img[src="#"] {
  visibility: hidden;
}