//- Загрузка общего шаблона для всех страниц
extends ./templates/_base-template

block head
    - var pageTitle = 'Disciples 2 - Main Menu';

block content
    .b-container
        .b-main-menu
            ul.b-main-menu__list
                li.b-main-menu__item
                    a.b-main-menu__link(href="towns.html", title="") Towns
                li.b-main-menu__item
                    a.b-main-menu__link(href="", title="")
                li.b-main-menu__item
                    a.b-main-menu__link(href="", title="")
                li.b-main-menu__item
                    a.b-main-menu__link(href="", title="")
                li.b-main-menu__item
                    a.b-main-menu__link(href="", title="")
                li.b-main-menu__item
                    a.b-main-menu__link(href="", title="") 
                li.b-main-menu__item
                    a.b-main-menu__link(href="", title="")
