extends ./templates/_base-template

block head
    - var pageTitle = 'Disciples 2 - Main Menu';

block content
    .container
        .main-menu
            .main-menu__in
                ul.main-menu__list
                    li.main-menu__item
                        a.main-menu__link(href="towns.html", title="") Towns
                    li.main-menu__item
                        a.main-menu__link(href="uikit.html", title="") UI Kit
                    li.main-menu__item
                        a.main-menu__link(href="", title="")
                    li.main-menu__item
                        a.main-menu__link(href="", title="")
                    li.main-menu__item
                        a.main-menu__link(href="", title="")
                    li.main-menu__item
                        a.main-menu__link(href="", title="") 
                    li.main-menu__item
                        a.main-menu__link(href="", title="")
