//- Загрузка общего шаблона для всех страниц
extends ./templates/_base-template

include ./includes/empire-town
include ./includes/undead-town
include ./includes/elves-town
include ./includes/clans-town
include ./includes/legions-town

block head
    - var pageTitle = 'Disciples 2 - Races';

block content
    .b-container
        .b-wrapper

            .b-tab-container
                a.b-nav-tab.active(href='#empire', data-tab='empire') Empire
                a.b-nav-tab(href='#undead', data-tab='undead') Undead Hordes
                a.b-nav-tab(href='#elves', data-tab='elves') Elven Alliance
                a.b-nav-tab(href='#clans', data-tab='clans') Mountain Clans
                a.b-nav-tab(href='#legions', data-tab='legions') Legions of the Damned

            .b-tab-content
                #empire.b-tab.active
                    +empire-town
                #undead.b-tab
                    +undead-town
                #elves.b-tab
                    +elves-town
                #clans.b-tab
                    +clans-town
                #legions.b-tab
                    +legions-town
