//- Загрузка общего шаблона для всех страниц
extends ./templates/_base-template

include ./includes/empire-town
include ./includes/undead-town
include ./includes/elves-town
include ./includes/clans-town
include ./includes/legions-town

block head
    - var pageTitle = 'Disciples 2 - Races';

block content
    .container
        .wrapper

            .tab-container
                a.nav-tab.is-active(href='#empire', data-tab='empire') Empire
                a.nav-tab(href='#undead', data-tab='undead') Undead Hordes
                a.nav-tab(href='#elves', data-tab='elves') Elven Alliance
                a.nav-tab(href='#clans', data-tab='clans') Mountain Clans
                a.nav-tab(href='#legions', data-tab='legions') Legions of the Damned

            .tab-content
                #empire.tab.is-active
                    +empire-town
                #undead.tab
                    +undead-town
                #elves.tab
                    +elves-town
                #clans.tab
                    +clans-town
                #legions.tab
                    +legions-town
